# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
ENV/

# Environment variables
.env

# System files
.DS_Store
Thumbs.db

# Backup files
*.bak

# IDEs
.vscode/
.idea/

# Expo
frontend/node_modules/
frontend/.expo/
frontend/dist/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
